<!DOCTYPE html>
<html layout:decorate="~{teste}">
  <head>
    <title>AirSoftware</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap" layout:fragment="conteudo">

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Acessórios</h2></div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Filtro</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <a class="dropdown-item" href="#">Nome, A to Z</a>
                      <a class="dropdown-item" href="#">Nome, Z to A</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Menor preço</a>
                      <a class="dropdown-item" href="#">Maior preco</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">

              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 0</a></h3>
                    <p class="mb-0">Acessório 0</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 1</a></h3>
                    <p class="mb-0">Acessório 1</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 2</a></h3>
                    <p class="mb-0">Acessório 2</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 3</a></h3>
                    <p class="mb-0">Acessório 3</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 4</a></h3>
                    <p class="mb-0">Acessório 4</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 5</a></h3>
                    <p class="mb-0">Acessório 5</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 6</a></h3>
                    <p class="mb-0">Acessório 6</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 7</a></h3>
                    <p class="mb-0">Acessório 7</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 8</a></h3>
                    <p class="mb-0">Acessório 8</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 9</a></h3>
                    <p class="mb-0">Acessório 9</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 10</a></h3>
                    <p class="mb-0">Acessório 10</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 mb-4" >
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="ops.html"><img src="images/acessorio_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="ops.html">Acessório 11</a></h3>
                    <p class="mb-0">Acessório 11</p>
                    <p class="text-primary font-weight-bold">R$50</p>
                  </div>
                </div>
              </div>


            </div>
            <div class="row" >
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorias</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="#" class="d-flex"><span>Pente</span> <span class="text-black ml-auto">(2,220)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>Luva</span> <span class="text-black ml-auto">(2,550)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>Colete</span> <span class="text-black ml-auto">(2,124)</span></a></li>
              </ul>
            </div>

          </div>
        </div>
        
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            Copyright @2019 All rights reserved
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>