<!DOCTYPE html>
<html layout:decorate="~{teste}">
  <head>
    <title>AirSoftware</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/aos.js}"></script>
  <script th:src="@{/js/main.js}"></script>
   
  </head>
  <body>
  
  <div class="site-wrap" layout:fragment="conteudo">

    <div class="site-section">
		<div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/arma_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2 class="text-black">A melhor arma de airsoft do mercado</h2>
            <p>Você que busca segurança e qualidade em seus equipamentos Airsoft, a marca CYMA produziu a CM122, uma réplica das Pistola Sig Sauer P226, porém, Elétrica e pente/magazine com capacidade para 30 BB's. </p>

            <p><a href="produto" class="buy-now btn btn-sm btn-primary">Ver</a></p>

          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer border-top">
      <div class="container">
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            Copyright @2019 All rights reserved
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  
    
  </body>
</html>